body {
  font-family: "Raleway", sans-serif;
  color: #eaf2ef;
  background-color: #1d1d1d;
  font-size: 14px;
  min-height: 100%;
  margin: 0;
  position: relative;
}

.page-width {
  max-width: 1550px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .page-width {
    padding-left: 30px;
    padding-right: 30px;
  }
}

a {
  text-decoration: none;
  color: #006e90;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 25px;
}

h1 {
  font-size: 35px;
}

button {
  width: 170px;
  min-height: 35px;
  background-color: transparent;
  color: #006e90;
  border: 1px solid #006e90;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
}
button:hover {
  background-color: #006e90;
  color: #eaf2ef;
  border: none;
}

.input-field {
  display: flex;
  height: 35px;
}
.input-field label {
  background-color: #006e90;
  color: #eaf2ef;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 10px;
  font-weight: bold;
}
.input-field input,
.input-field select {
  background-color: transparent;
  color: #eaf2ef;
  padding: 5px 10px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #006e90;
  transition: all 0.5s ease-in-out;
}
.input-field input:focus-visible,
.input-field select:focus-visible {
  outline: none;
  border: 1px solid #006e90;
}
.input-field select {
  color: #eaf2ef;
  background-color: #0a0f0d;
}

header {
  display: block;
  background-color: #0a0f0d;
}
header h1 {
  padding: 25px 0;
}
header .input-error_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
header .input-error_container .input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (max-width: 576px) {
  header .input-error_container .input-container {
    flex-direction: column;
  }
}

.score-calculation__container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .score-calculation__container {
    flex-direction: column;
  }
}
.score-calculation__container .score-text-container {
  flex: 4;
}
.score-calculation__container .score-calculator__container {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
}
.score-calculation__container .score-calculator__container .score-calculator__input {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 5px;
}
.score-calculation__container .score-calculator__container .score-calculator__input.result {
  font-weight: bold;
}
.score-calculation__container .score-calculator__container button {
  margin: 5px 0;
}

footer {
  background-color: #0a0f0d;
  padding: 25px 0;
}
footer .footer-container {
  display: flex;
  justify-content: center;
}

.scoreboard {
  min-height: 300px;
}

/*# sourceMappingURL=style.css.map */
