header {
  display: block;
  background-color: $background;

  h1 {
    padding: 25px 0;
  }

  .input-error_container {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;

    .input-container {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }
  }
}
