body {
    margin: auto;
    max-width: 1920px;
    background: #0f0f0f;
    font-family: 'Raleway', sans-serif;
}

.header {
    text-align: center;
    background: #020202;
    padding: 20px 0 20px 0;
}

.container {
    max-width: 1080;
    text-align: center;
    margin: 15px auto;
}

.calculator {
    color: #cccccc;
    font-size: 22px;
    text-align: center;
    align-items: center;

}

#content {
    display: flex;
    margin-bottom: 50px;
}

#key_input{
    width: 160px;
}

.right {
    margin-right: 25px;
}

.input {
    width: 80px;
    height: 40px;
    border-radius: 50px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    border: 0px black solid;
}

.input_header {
    width: 180px;
    height: 40px;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    border: 0px black solid;
}

#Error_div{
    color: rgb(190, 0, 0);
}

.input_header-left{
    margin-left: 50px;
}

.lowercase{
    text-transform: lowercase;
}

#fetch_button{
    margin-left: 50px;
}

#best_key_input{
    width: 20px;
    height: 20px;
}

.m-15{
    margin-bottom: 15px;
}

.m-50{
    margin-bottom: 50px;
}

.footer {
    text-align: center;
    background: #020202;
    padding: 50px 0 30px 0;
}

a, p, h1, h2 , ul, li{
    color: #cccccc;
}

a , a:visited, a:hover {
    color: aqua;
    cursor: pointer;
}

#title {
    color: #cccccc;
    text-decoration: none;
}

p, ul, li{
    font-size: 20px;
}

h1{
    font-size: 44px;
}

h2{
    font-size: 36px;
}

ul, li {
    padding: 0;
    list-style: none;
}

button {
    color: #fff;
    background-color: #0075FF;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    border: none;
}

button:hover{
    cursor: pointer;
}

.keys_group{
    display: flex;
    margin: auto;
    width: 100%;
}

.key_content{
    display: block;
    width: 100%;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 15px;
}

.column{
    display: flex;
    width: 100%;
}

.name {
    width: 100%;
}

.fortified{
    width: 50%;
}

.tyranical{
    width: 50%;
    margin-right: 3px;
}

.key_content p{
    font-size: 14px;
}

.key_content a{
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

.key_content .best{
    color: rgb(192, 192, 2);
}

.result {
    display: flex;
    justify-content: center;
}

.rio_score{
    font-size: 30px;
}

@media screen and (max-width: 1000px) {
    .container {
        margin: 50px 15px 50px 15px;
    }

    #content {
        display: block;
    }

    .keys_group{
        display: block;
    }

    .key_content{
        width: 100%;
        border: none;
        border-bottom: 2px solid #ccc;
    }

    .input_header{
        display: flex;
        margin: auto;
        margin-bottom: 20px;
    }

    #fetch_button{
        margin-left: 0px;
        margin-top: 25px;
    }
}

