body {
    margin: auto;
    max-width: 1920px;
    background: #0f0f0f;
    font-family: 'Raleway', sans-serif;
}

.header {
    text-align: center;
    background: #020202;
    padding: 20px 0 20px 0;
}

.container {
    max-width: 1080;
    text-align: center;
    margin: 50px auto;
}

.calculator {
    color: #cccccc;
    font-size: 22px;
    text-align: center;
    align-items: center;

}

#key_input{
    width: 160px;
}

#time_key_input {
    width: 50px;
    height: 30px;
}

#best_key_input{
    width: 20px;
    height: 20px;
}

.m-15{
    margin-bottom: 15px;
}

.footer {
    text-align: center;
    background: #020202;
    padding: 22px 0 30px 0;
}

a, p, h1, h2 , ul, li{
    color: #cccccc;
}

a , a:visited, a:hover {
    color: aqua;
}

p, ul, li{
    font-size: 20px;
}

h1{
    font-size: 44px;
}

h2{
    font-size: 36px;
}

ul, li {
    list-style: none;
}