body {
  font-family: "Raleway", sans-serif;
  color: $text-color;
  background-color: $background-body;
  font-size: 14px;
  min-height: 100%;
  margin: 0;
  position: relative;
}

.page-width {
  max-width: 1550px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

a {
  text-decoration: none;
  color: $primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 25px;
}

h1 {
  font-size: 35px;
}
