$primary:  #0075ff;
$white: #fff;
$black: #000;

$transition: all .5s ease-in-out;

$border-transparent: 1px solid transparent;
$border-primary: 1px solid $primary;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 990px,
  xl: 1200px,
);