$primary:  #D16BA5;
$secondary:  #86A8E7;
$tertiary:  #5FFBF1;
$white: #fff;
$black: #000;

$transition: all .5s ease-in-out;

$border-transparent: 1px solid transparent;
$border-primary: 1px solid $primary;

$gradient: linear-gradient(to right top, $primary, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, $tertiary);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 990px,
  xl: 1200px,
);