@import "./breakpoints.scss";

//color
$primary: #00bbf0;
$secondary: #eaf2ef;
$background: #0a0f0d;
$background-body: #1d1d1d;
$text-color: #eaf2ef;
$white: #fff;
$black: #000;

//transition
$transition: all 0.5s ease-in-out;

//border
$border-transparent: 1px solid transparent;
$border-primary: 1px solid $primary;

//grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 990px,
  xl: 1200px,
);
